.home{
    padding: 80px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home::after {
    content: "";
    background: url("/public/img/background.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.catalogPage {
    position: relative;
    box-shadow: 0px 0px 20px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 60px 10px;
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    background-color: rgba(235, 234, 234, 0.79);
}

.catalogPage>h3{
    margin: 130px 0px;
}

.catalogPage>h1 {
    color: rgb(141, 84, 56);
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.menuList{
    background-color: rgb(31, 142, 130);
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.menuList a:hover{
    color: yellow
}

.menufavorites{
    position: relative;
    margin: 0px;
}

.menufavorites a:after{
    content: "";
    position: absolute;
    top: 25px;
    left: 3px;
    height: 2px;
    padding: 1px;
    width: 137px;
    border-radius: 5px;
    background-color: yellow;
    z-index: 10;

}

.menuMyRecipies{
    margin: 0px;
}

.menuMyComments{
    margin: 0px;
}


@media screen and (max-width: 1300px){
    .catalogPage {
        width: 75%;
    }
}

@media screen and (max-width: 900px){
    .catalogPage {
        width: 90%;
    }
}

.loader{
    margin: 310px 0px;
}