.allRecipies {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 15px;
    overflow: hidden;
    width: 45%;
    min-height: 210px;
    height: auto;
}

.allRecipiesInfo {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allRecipiesInfo>img {
    margin-top: -10px;
    border-radius: 10%;
    top: 30px;
    right: 30px;
    float: right;
    padding: 5px;
    width: 200px;
}

.allRecipiesInfo>h6 {
    font-size: 15px;
    font-weight: 750;
    color: #161618;
}

.allRecipiesInfo>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.detailsButton {
    background-color: #ba772a;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding: 7px;
    margin-top: auto;
    margin-left: 20px;
    border-radius: 6px;
}

@media screen and (max-width: 1800px){
    .allRecipiesInfo>img {
        width: 140px;
    }
}

@media screen and (max-width: 1600px){
    .allRecipiesInfo>h2 {
        font-size: 15px;
    }
    .allRecipiesInfo>h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 1300px){
    .allRecipiesInfo>img {
        width: 110px;
    }
}

@media screen and (max-width: 1200px){
    .allRecipies {
        width: 90%;       
    }
    .allRecipiesInfo>img {
        width: 180px;
    }
    .allRecipiesInfo>h2 {
        font-size: 20px;
    }
    .allRecipiesInfo>h6 {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px){

    .allRecipiesInfo>img {
        width: 140px;
    }
    .detailsButton {
        font-size: 12px;
        bottom: 20px;
        margin-top: auto;
        margin-left: 40px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 768px){
    .allRecipiesInfo>h2 {
        font-size: 15px;
    }
    .allRecipiesInfo>h6 {
        font-size: 12px;
    }
}
