
.home{
    padding: 80px 0px;
    position: relative;
}

.home::after {
    content: "";
    background: url("/public/img/background.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.catalogPage {
    position: relative;
    box-shadow: 0px 0px 20px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 60px 10px;
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    background-color: rgba(235, 234, 234, 0.79);
}

.catalogPage>h3{
    margin: 130px 0px;
}

.recipieCount{
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 12px;
    color: rgb(149, 95, 33);
}

.catalogPage>h1 {
    color: rgb(141, 84, 56);
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.pagination{
    display: flex;
    justify-content: center;
}

.paginationList{
    width: 10%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    
}

.pageNumbers{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin: 0px 7px;
}

.paginationList li{
    border: 1px solid green;
    border-radius: 6px;
    padding: 5px 2px;
    background-color: rgb(31, 142, 130);
    cursor: pointer;
}

.paginationList li:hover{
    background-color: rgb(43, 173, 163);
    box-shadow: 0px 0px 1px 0px;
    
}

.paginationList li a{
    color: rgb(219, 219, 219);
    cursor: pointer;
    font-weight: normal;
    padding: 3px 3px;
}

.paginationList .active{
    background-color: rgb(47, 185, 173);
}

.paginationList .active>a{
    
    font-weight: bold;
    color: white;
}

.paginationList .activeArrow>a{
    font-weight: bold;
    color: rgb(219, 219, 219);
}
.paginationList .inactiveArrow>a{
    font-weight: bold;
    color: rgb(121, 121, 121);
}

.paginationList .inactiveArrow:hover{
    background-color: rgb(31, 142, 130);
    box-shadow: 0px 0px 0px 0px;
}

@media screen and (max-width: 1300px){
    .catalogPage {
        width: 75%;
    }
}

@media screen and (max-width: 900px){
    .catalogPage {
        width: 90%;
    }
}

.loader{
    margin: 310px 0px;
}
