header{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(31, 142, 130);
}

header h1.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav a{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
nav div{
    margin: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav a:hover{
    color: yellow;
}

.navOpen{
    color: white;
}

.navClose{
    color: white;
}


header img {
    margin: 0px;
}

.username{
    color: white;
    padding: 0px;
    padding-right: 5px;
    width: 10%;
    text-align: right;
}

.menuButton {
    display: none; 
    color: white;
    left: 50px;
    top: 18px;
    position: absolute;
}

.menuButton:hover {
    color: yellow;
}

.open{
    transform: rotate(90deg);
    font-size: 30px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    letter-spacing: 0px;
    line-height: 25px;
    padding: 8px 12px 14px 12px;
    cursor: pointer;
}

.close{
    font-size: 30px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    letter-spacing: 0px;
    line-height: 25px;
    padding: 8px 15px 14px 15px;
    cursor: pointer;
}



@media (max-width: 1400px){
    header h1.logo{
        width: 20%;
    }
}

@media (max-width: 1000px){
    .navOpen{
        position: absolute;
        background-color: rgb(31, 142, 130);
        top: 80px;
        left: 0px;
        z-index: 10;
        border-radius: 10px;
        padding: 20px;
        font-size: 25px;
        width: 400px;
    }
    
    .navClose{
        display: none;
    }

    header{
        flex-direction: column;
        gap: 15px;
        position: relative;
    }
    .menuButton{
        display: block;
    }
    nav{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        /* display: none; */
    }
    nav div{
        flex-direction: column;
        gap: 10px;
    }
    .username{
        text-align: center;
    }
}   