header{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(31, 142, 130);
}

header h1.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav a{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
nav div{
    margin: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav a:hover{
    color: yellow;
}

header img {
    margin: 0px;
}

.username{
    color: white;
    padding: 0px;
    padding-right: 5px;
    width: 10%;
    text-align: right;
}

@media (max-width: 1400px){
    header h1.logo{
        width: 20%;
    }
}

@media (max-width: 1000px){
    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    nav div{
        flex-direction: column;
        gap: 10px;
    }
    .username{
        text-align: center;
    }
}   