
.home{
    padding: 50px 0px;
    position: relative;
}

.home::after {
    content: "";
    background: url("/public/img/background.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.createPage {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(31 142 130 / 90%);
    box-shadow: 0px 0px 10px 0px #49535e, 0px 0px 10px #191c21;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#ingredients{
    color: white;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ingredientsItemList{
    border: 1px solid rgb(206, 206, 206);
    padding: 20px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

#newIngredients{
    width: 80%;
}

#ingredientsWrapper>p{
    top: 10px;
    left: 250px;
    position: absolute;
    color: rgb(255, 5, 5);
    font-size: 18px;
    background-color: yellow;
    padding:  3px 20px;
    border-radius: 5px;
    border: 1px solid red;
}

#ingredientsWrapper{
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid rgb(192, 220, 8);
    border-radius: 10px;
    padding: 50px 0px;
}
#ingredientsWrapper>#newIngredients>.ingredient>button{
  color: white;
  border: none;
  background-color: #945330;
  padding: 10px 20px;
  margin-top:10px;
  border-radius: 10px;

}

#ingredientsWrapper>#newIngredients>.ingredient>button:hover{
    color: rgb(184, 184, 184);
    background-color: #784427;
}

#preparation{
    width: 80%;
}

.container>div {
    width: 45%;
}

.createPage>h1{
    color: white;
    font-size: 60px;
    width: 80%;
    margin-bottom: 50px;
}

.createPage>p{
    bottom: 130px;
    left: 350px;
    position: absolute;
    color: rgb(255, 5, 5);
    font-size: 20px;
    background-color: yellow;
    padding:  3px 20px;
    border-radius: 5px;
    border: 1px solid red;
}

.createPage input[type="text"],
.createPage input[type="number"]{
    background: #ecf0f3;
    padding: 20px;
    padding-left: 20px;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -2px -2px 2px white;

}

.createPage textarea {
    width: 100%;
    padding: 10px 20px;
    min-width: 20vw;
    min-height: 7em;
    border-radius: 10px;
    font-size: 26px;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -2px -2px 4px white;
}

.ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient input{
   width: 40%;
}

.btnSubmit {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #945330;
    height: 60px;
    border-radius: 10px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    width: 30%;
}

.btnSubmit:hover {
    color: rgb(184, 184, 184);
    background-color: #784427;
}