footer{
    background-color: rgb(53, 53, 53);
    padding: 10px;
    text-align: left;
    color: rgb(160, 160, 160);
}

span{
    font-style: italic;
    padding-left: 20px;
}

h3{
    padding-left: 30px;
}