footer{
    background-color: rgb(53, 53, 53);
    padding: 10px;
    text-align: left;
    color: rgb(160, 160, 160);
    display: flex;

}

span{
    font-style: italic;
    padding-left: 20px;
}

h3{
    padding-left: 30px;
    width: 85%;
    margin: 0px;
}

footer div{
    width: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 10px;
}
footer div i{
    width: 35%;
}