


.navBtnOpen{
    width: 300px;
    position: relative
}

.navBtnClose{
    width: 300px;
    position: relative
}

.search input{
    padding-left: 8px;
}

.searchButton{
    position: absolute;
    top: -3px;
    right: 1px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.3em;
    background-color: transparent;
}

.searchClear{
    position: absolute;
    top: 1px;
    right: 27px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    padding: 1px 5px 5px 5px;
    letter-spacing: 0px;
    border-radius: 100%;
    line-height: 12px;
}

.searchInput{
    border-radius: 5px;
    width: 300px;
    border: 1px solid grey;
    font-size: 20px;
    margin: 0px;
    padding: 0px 5px;
}

@media (max-width: 1000px){
    .navBtnOpen{
        width: 300px;
        position: absolute;
        top: 90px;
        left: 50px;
        z-index: 20;
    }
    
    .navBtnClose{
        display: none;
    }
}