
.search{
    width: 300px;
    position: relative
}

.search input{
    padding-left: 8px;
}

.searchButton{
    position: absolute;
    top: -3px;
    right: 1px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.searchClear{
    position: absolute;
    top: -4px;
    right: 27px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
}

.searchInput{
    border-radius: 5px;
    width: 300px;
    border: 1px solid grey;
    font-size: 20px;
    margin: 0px;
}

@media (max-width: 1300px){
    .search{
        display: none;
    }
}