#recipieDetails {
    position: relative;
    display: block;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    margin: 50px auto;
}

#recipieDetails>div>h1 {
    color: rgb(141, 84, 56);
    font-family: "Agency FB";
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.infoSection {
    margin: auto;
    width: 90%;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 0px;
}

.infoSection h2{
    margin: 20px;
}

.recipieHeader {
    padding: 25px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.category {
    display: inline-block;
    margin: 0px;
    margin-top: 15px;
    color: rgb(202, 202, 202);
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #595959;
    border: 1px solid rgb(206, 206, 206);
    
}

.type {
    display: inline-block;
    color: #959595;
    font-size: 19px;
    margin-left: 10px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(158, 156, 156, 0.829);
    display: flex;
    flex-direction: column;
    width: 200px;
}

.img{
    width: 500px;
}

.recipieImg {
    margin-left: 15px;
    margin-right: 22px;
    width: 400px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3px 14px;
}

.ingredients {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 50px;
    border: 1px solid rgb(206, 206, 206);
    padding: 30px 50px;
    border-radius: 10px;
    
}

.ingredients li{
    color: rgb(95, 95, 95);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.ingredients li p{
    padding: 5px;
    margin: 0px;
}

.ingredients li i{
    padding: 5px;
    margin: 0px;
}

.infoSection>.text {
    margin-top: 0px;
    padding: 20px 60px;
    height: 50%;
    width: 75%;
}

.text {
    font-size: 25px;
    color: #545454;
}

.buttons {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.button {
    background-color: #855d27;
    padding: 14px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    width: 20%;
    border-radius: 5px;
}

.button:hover {
    background-color: #684921;
    color: rgb(164, 162, 162);
}

.createComment>.form{
    width: 70%;
    margin-bottom: 40px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createComment>.form>textarea {
    resize: none;
    width: 90%;
    height: 100px;
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0px 0px 0px 0px;
}

.detailsComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 20px;
}

.detailsComments ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: left;
    flex-direction: column;
    width: 90%;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(206, 206, 206);
    list-style-type: none;
}

.commentBox{
    box-sizing: border-box;
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.createComment {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.createComment>label {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.infoSection>.detailsComments li {
    width:100%;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #623131;
    color: rgb(215, 212, 212);
    text-align: left;
}

.comment p {
    padding: 9px;
    margin: 0px;
    font-size: 18px;
}


.createComment>.button:hover {
    background-color: #41425c;
    color: white;
    cursor: pointer;
}

.btnSubmit{
    color: white;
    background-color: rgb(100, 100, 100);
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    width: 60%;
}

.btnSubmit:hover{
    color: rgb(204, 203, 203);
    background-color: rgb(68, 68, 68);
}

.loader{
    margin: 310px 0px;
}

@media (max-width: 1200px){
    .ingredients {
        flex-direction: column;
    }

    .ingredients li{
        width: 100%;
        
    }
}